					<div class="span12">
						<p>
			The Open Data Catalog provides public access to high-value data generated, collected and held by MCC. You can find:
			<ul>
			<li>Machine-readable datasets,</li>
			<li>Descriptions of the datasets (dataset metadata),</li>
			<li>How to access the datasets, and</li>
			<li>Tools that use these data.</li>
			</ul>
			The data catalog will continue to grow as datasets are added. 
			<br/>
			These data are provided as part of MCC.s commitment to transparency and accountability, to improve access to development and aid data and expand the creative use of that data beyond the walls of government. We hope to spark your imagination and spur the creation of innovative web applications, data visualizations and analyses. 
			<br/>
			Send your ideas and comments to <a href="mailto:opendata@mcc.gov">opendata@mcc.gov</a>.
						</p>
					</div>