{% extends "data-mcc-gov.html" %}
{% block title %}Open Data Catalog{% endblock %}
{% block content %}


				      <!-- Example row of columns -->
				      <div class="row">


<div class="span12" >
	<h2>Metdata for "{{meta.title}}" dataset</h2>
	<p>This is metadata in USG Common Core Metadata Schema format. To learn more see <a href="http://project-open-data.github.io/schema/">http://project-open-data.github.io/schema/</a> </p>


	  	    <h3> Metadata </h3>
		    <table class="table table-striped"  >
		    	<thead>
					<tr>
						<th width="100px">Field</th>
						<th width="*">Value</th>
					</tr>
				</thead>
				<tbody>
					{% for item in meta %}
					    {% if item=="distribution" %}
					 		<tr>
								<td>{{ item }}</td>
								<td>{% for distr in meta[item] %}
										[{{distr["format"]}}] {{distr["accessURL"]}}<br/>

									{% endfor %}
								</td>	
							</tr>	
					    {% else %}
					 		<tr>
								<td>{{ item }}</td>
								<td>{{ meta[item] }}</td>
							</tr>	
					    {% endif %}	 					
	 
				    {% endfor %}
				</tbody>
		    </table>         
    
</div>


				      </div>

				      <hr>

				      
        </div>

{% endblock %}
