

<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	
			
		
			<title>Open Data Catalog | Millennium Challenge Corporation</title>
<meta name="description" content="MCC is an independent U.S. Government foreign aid agency based on the principle that aid is most effective when it reinforces good governance, economic freedom and investments in people." />
<meta name="keywords" content="mcc, millennium, milennium, milenium, challenge, mca, poverty, reduction, poor" />
<meta name="author" content="Millennium Challenge Corporation" />
<meta name="publisher" content="Millennium Challenge Corporation" />
<meta name="robots" content="index,follow,archive" />

<meta name="geo.position" content="38.8833,-77.0333" />
<meta name="geo.placename" content="Washington DC" />
<meta name="geo.region" content="US-DC" />

		
		
	
    
        <meta property="og:image" content="http://www.mcc.gov/_/img/pws-2012005112501-mcc-logo.png" />
    	
	<meta name="viewport" content="width=980">
	<link rel="shortcut icon" href="http://www.mcc.gov/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="http://www.mcc.gov/_/img/apple-touch-icon.png">
	
	<meta name="google-site-verification" content="OFRrpjYXS7svd-y8yP0FwJyi58rHIO5Iw-GQHx-LaDg" />
	
	<link rel="stylesheet" href="http://www.mcc.gov/_/css/bootstrap.min.css">

	<link rel="stylesheet" href="http://www.mcc.gov/_/css/style.css">
    <link rel="stylesheet" href="http://www.mcc.gov/_/css/print.css" media="print">
    <style>
	*.wf-loading {
		visibility: hidden;
	}
	</style>
    
	<script type="text/javascript">
      (function() {
        var config = {
          kitId: 'plb4xgg',
          scriptTimeout: 3000
        };
        var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
      })();
    </script>

	<script src="http://www.mcc.gov/_/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="http://www.mcc.gov/_/js/libs/jquery-1.7.2.min.js"><\/script>')</script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>

	<script src="http://www.mcc.gov/_/js/libs/bootstrap.min.js"></script>

	<script src="/js/plugins.js"></script>
	<script src="http://www.mcc.gov/_/js/script.js"></script>
	
	
	<script type="text/javascript" src="http://www.mcc.gov/_/js/my-libs/jquery.orbit-1.2.3.min.js"></script>
    
	<script type="text/javascript" src="http://www.mcc.gov/_/js/my-libs/jquery.timelinr-0.9.5.js"></script>


</head>
<body class="foia index">
<a name="return-top"></a>
<div class="container">

<a name="page-content" class="visuallyhidden"></a>
    <div id="content">
    	
        <div id="content-main">


				      <!-- Example row of columns -->
				      <div class="row">
					<div class="span12">
						<h1>Open Data Catalog</h1>
						<p>
			The Open Data Catalog provides public access to high-value data generated, collected and held by MCC. You can find:
			<ul>
			<li>Machine-readable datasets,</li>
			<li>Descriptions of the datasets (dataset metadata),</li>
			<li>How to access the datasets, and</li>
			<li>Tools that use these data.</li>
			</ul>
			The data catalog will continue to grow as datasets are added. 
			<br/>
			These data are provided as part of MCC.s commitment to transparency and accountability, to improve access to development and aid data and expand the creative use of that data beyond the walls of government. We hope to spark your imagination and spur the creation of innovative web applications, data visualizations and analyses. 
			<br/>
			Send your ideas and comments to <a href="mailto:opendata@mcc.gov">opendata@mcc.gov</a>.
						</p>
					</div>
				        <div class="span6" id="machine-readable-categories">
				          <h2>Machine-readable data</h2>
				          <p>Data available in machine-readable formats e.g. XML, CSV/XLS, JSON, KML, SHP. </p>

				        </div>
				        <div class="span6"  id="documents-categories">
				          <h2>Documents and reports</h2>
				          <p>Data available in non-machine-readable formats e.g PDFs. </p>

				       </div>
				      </div>

				      <hr>

				      <div>
						<p><h3>Terms of use</h3> Data presented on the MCC Open Data Catalog website is considered public information and may be distributed or copied freely unless identified as being subject to copyright protection. In return, we request only that MCC be cited as the source of data copied from this site.
			We strongly recommend that MCC data be acquired directly from this website and not through other sources that may change the information in some way or exclude material crucial to the understanding of that information. While we make every effort to provide accurate and complete data, some data may change between data catalog updates. Substantive changes may be noted when data is next updated.
			</p>
						<p><h4>Disclaimer of Endorsement</h4> The data posted on the MCC Open Data Catalog website may contain hypertext links or pointers to information created and maintained by other public and private organizations. These links and pointers are provided for visitors’ convenience. We do not control or guarantee the accuracy, relevance, timeliness, or completeness of any linked information. Further, the inclusion of links or pointers to websites other than a MCC‐managed website is not intended to assign importance to those sites and the information contained therein, nor is it intended to endorse, recommend, or favor any views expressed, or commercial products or services offered on these outside sites, or the organizations sponsoring the sites, by trade name, trademark, manufacture, or otherwise.
			Reference in this website to any specific commercial products, processes, or services, or the use of any trade, firm or corporation name is for the information and convenience of the site’s visitor’s, and does not constitute endorsement, recommendation, or favoring by the United States Government or MCC.
			The views and opinions of authors expressed herein do not necessarily state or reflect those of the U.S. Government or the MCC, and shall not be used for advertising or product endorsement purposes.
			</p>
						<p><h4>Disclaimer of Liability</h4> Every effort is made to provide accurate and complete information. However, we cannot guarantee that there will be no errors. We make no claims, promises or guarantees about the accuracy, completeness, or adequacy of the data of this website and expressly disclaim liability for errors and omissions.
			With respect to the data of this site, neither the United States Government, nor MCC, nor their employees and contractors make any warranty, expressed or implied or statutory, including but not limited to the warranties of non‐infringement of third party rights, title, and the warranties of merchantability and fitness for a particular purpose with respect to data available from this MCC website or other Internet resources linked from it. Additionally, neither the U.S. Government nor MCC assume any legal liability for the accuracy, completeness, or usefulness of any information, product, or process disclosed herein nor freedom from computer virus, and do not represent that use of such information, product, or process would not infringe on privately owned rights.
			</p>
						<p><h4>Copyright Notice</h4> Unless a copyright is indicated, data on the MCC Open Data Catalog website is in the public domain and may be reproduced, published or otherwise used without MCC’s permission. We request that MCC be cited as the source of the data. If a copyright is indicated on any dataset on this website, permission to copy these datasets must be obtained from the original source. This copyright notice does not pertain to information at websites other than this website. </p>
				      </div>
        </div>
        
    </div>
 
</div>
 </div>
	



 <script src="lib/jquery-1.7.2.min.js"></script>
 <script src="lib/underscore-min.js"></script>
 <script src="lib/backbone-min.js"></script>

 <script src="data.json"></script>


    <!-- BEGIN: Underscore Template Definition. -->
    <script type="text/template" class="api-template">
			           <% _.each( rc, function( category ){ %>

  	    <h3><%= category %></h3>
	    <table class="table table-striped"  >
	    	<thead>
				<tr>
					<th>API</th>
					<th>Endpoint</th>
					<th>Documentation</th>
				</tr>
			</thead>
			<tbody>
			           <% _.each( rc.items, function( item ){ %>
 
 		<tr>
			<td><%= item.name %></td>
			<td><a href="<%= item.enpoint %>" class="label label-warning"><%= item.format %></a></td>
			<td><a href="<%= item.documentation %>" class="label">.html</a></td>
		</tr>	
 
            <% }); %>
			</tbody>
	    </table> 
            <% }); %>
    </script>

    <script type="text/template" class="data-template">
		<% _.each( rc, function( category, val ){ %>
	  	    <h3> <%= val %></h3>
		    <table class="table table-striped"  >
		    	<thead>
					<tr>
						<th>Description</th>
						<th>Format</th>
						<th>Metadata</th>
					</tr>
				</thead>
				<tbody>
				           <% _.each( category, function( dataset ){ %>
	 
	 		<tr>
				<td><%= dataset.description %></td>
				<td><a href="<%= dataset.url %>" class="label label-success"><%= dataset.format %></a></td>
				<td><a href="<%= dataset.documentation %>" class="label">.html</a></td>
			</tr>	
	 
	            <% }); %>
				</tbody>
		    </table> 
		<% }); %>
    </script>    
    <!-- END: Underscore Template Definition. -->

 

<script>


var index=data;
//alert(index);

//alert("length: "+index.length);

var f=_.filter(index, function(el){ return el["systemOfRecords"]=="Country Selection Database";})
//alert("selection datasets count: "+f.length);

var apis=_.filter(index, function(el){ return "webService" in el;})

//alert("apis count: "+apis.length);


var categories = _.uniq(_.map(index, function(el){return el["theme"]} ));

//alert (categories);


var tree={"apis":{}, "machine-readable":{}, "non-machine-readable":{}};

var tree2=_.groupBy(index, function (el){
	if ("webService" in el) return "apis"
	else if (el["keyword"].indexOf("non-machine-readable")!==-1) return "non-machine-readable"
	else return "machine-readable"; 
});

var apis=_.groupBy(tree2["apis"], function (el){
	return el["theme"]; 
});
var mr=_.groupBy(tree2["machine-readable"], function (el){
	return el["theme"]; 
});
var nmr=_.groupBy(tree2["non-machine-readable"], function (el){
	return el["theme"]; 
});

tree["apis"]=apis;
tree["machine-readable"]=mr;
tree["non-machine-readable"]=nmr;

//alert(tree);

alert(JSON.stringify(tree["machine-readable"]));

var groups = _.each(index, function(memo, el) {if(memo == "" ) {return "firstone:"+el["identifier"];}; memo=memo+" "+el["identifier"]; return memo}, ""); 


var groups = _.reduce(index, function(memo, el) {if(memo == "" ) {return "firstone:"+el["identifier"];}; memo=memo+" "+el["identifier"]; return memo}, ""); 


//alert(groups);



</script>

<script>

       // When rending an underscore template, we want top-level
        // variables to be referenced as part of an object. For
        // technical reasons (scope-chain search), this speeds up
        // rendering; however, more importantly, this also allows our
        // templates to look / feel more like our server-side
        // templates that use the rc (Request Context / Colletion) in
        // order to render their markup.
        _.templateSettings.variable = "rc";
 
        // Grab the HTML out of our template tag and pre-compile it.
        var api_template = _.template(
            $( "script.api-template" ).html()
        );
        var data_template = _.template(
            $( "script.data-template" ).html()
        );
        //var docs_template = _.template(
        //    $( "script.docs-template" ).html()
        //);
        // Define our render data (to be put into the "rc" variable).
        var api_templateData = {
            title: "Data APIs",
            items: [
                {
                    name: "Open Data API",
                    enpoint: "http://data.mcc.gov/api",
                    format:".json",
                    documentation: "http://data.mcc.gov/developers"
                }
            ]
        };
 
        var data_templateData = tree["machine-readable"];

        // Render the underscore template and inject it after the H1
        // in our current DOM.
        //$( "#machine-readable-categories" ).append(
        //    api_template( api_templateData )
        //);
        $( "#machine-readable-categories" ).append(
            data_template( data_templateData )
        );

 
</script>


    
  


</body>
</html>

