
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	
			
		<title>Millennium Challenge Corporation</title>
<meta name="description" content="MCC is an independent U.S. Government foreign aid agency based on the principle that aid is most effective when it reinforces good governance, economic freedom and investments in people." />
<meta name="keywords" content="mcc, millennium, milennium, milenium, challenge, mca, poverty, reduction, poor" />
<meta name="author" content="Millennium Challenge Corporation" />
<meta name="publisher" content="Millennium Challenge Corporation" />
<meta name="robots" content="index,follow,archive" />

<meta name="geo.position" content="38.8833,-77.0333" />
<meta name="geo.placename" content="Washington DC" />
<meta name="geo.region" content="US-DC" />

	
		
	
    <meta property="og:image" content="http://www.mcc.gov/_/img/pws-2012005112501-mcc-logo.png" />
	
	<meta name="viewport" content="width=980">
	<link rel="shortcut icon" href="http://www.mcc.gov/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="http://www.mcc.gov/_/img/apple-touch-icon.png">
	
	<meta name="google-site-verification" content="OFRrpjYXS7svd-y8yP0FwJyi58rHIO5Iw-GQHx-LaDg" />
	
	<link rel="stylesheet" href="http://www.mcc.gov/_/css/bootstrap.min.css">

	<link rel="stylesheet" href="http://www.mcc.gov/_/css/style.css">
    <link rel="stylesheet" href="http://www.mcc.gov/_/css/print.css" media="print">
    <style>
	*.wf-loading {
		visibility: hidden;
	}
	</style>
    
	<script type="text/javascript">
      (function() {
        var config = {
          kitId: 'plb4xgg',
          scriptTimeout: 3000
        };
        var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
      })();
    </script>

	<script src="http://www.mcc.gov/_/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="http://www.mcc.gov/_/js/libs/jquery-1.7.2.min.js"><\/script>')</script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>

	<script src="http://www.mcc.gov/_/js/libs/bootstrap.min.js"></script>

	<script src="http://www.mcc.gov/_/js/plugins.js"></script>
	<script src="http://www.mcc.gov/_/js/script.js"></script>
	
	
	<script type="text/javascript" src="http://www.mcc.gov/_/js/my-libs/jquery.orbit-1.2.3.min.js"></script>
    
	<script type="text/javascript" src="http://www.mcc.gov/_/js/my-libs/jquery.timelinr-0.9.5.js"></script>


</head>
<body class="home index">
<a name="return-top"></a>

<div class="container">
    <header id="header">
	<header id="header-print">
<h1><img src="http://www.mcc.gov/_/img/masthead-rgb-web-blank.jpg" width="100%" border="0" alt="Printed from www.mcc.gov" /></h1>
</header>
    <header id="header-web">
	<a href="#page-content" class="visuallyhidden" title="Jump to page content">Jump to page content</a>
	<div id="masthead">
		
	    <div id="mast" class="row">
	        <div class="span6">
	            <a href="http://www.mcc.gov/"><h1><img src="http://www.mcc.gov/_/img/header-logo.jpg" width="270" height="171" border="0" alt="Millennium Challenge Corporation, United States of America" /></h1></a>
	        </div>
	        <div class="span6">
	            <div id="search">
	                <form id="googlesearch" method="post" action="http://www.mcc.gov/pages"  >
<div class='hiddenFields'>
<input type="hidden" name="XID" value="6c900356526d03847ea310f1f1f6a2cb4ce4c125" />
<input type="hidden" name="ACT" value="29" />
<input type="hidden" name="RP" value="search/results" />
<input type="hidden" name="site_id" value="1" />
</div>

 <input name="keywords" id="search-input" /><input type="image" src="http://www.mcc.gov/assets/images/btn-search-go.jpg" width="29" height="27" alt="Go" border="0" id="search-go" /> </form>
	            </div>
	        </div>
		</div>
	</div>
</header>
</header>
	<nav id="nav">
	<nav id="nav-primary" class="container">
	<ul class="nav nav-tabs">
	    <li><a href="http://www.mcc.gov/pages/about">About<br />MCC</a></li>    
	    <li><a href="http://www.mcc.gov/pages/selection">Selection<br />Criteria</a></li>
	    <li><a href="http://www.mcc.gov/pages/activities">Programs &amp;<br />Activities</a></li>
	    <li><a href="http://www.mcc.gov/pages/countries">Countries &amp;<br />Country Tools</a></li>
	    <li class="one-line"><a href="http://www.mcc.gov/pages/results">Results</a></li>
	    <li><a href="http://www.mcc.gov/pages/press">Press &amp;<br />Public Affairs</a></li>
	    <li class="one-line"><a href="http://www.mcc.gov/pages/jobs">Jobs</a></li>
	    <li><a href="http://www.mcc.gov/pages/business">Business &amp;<br />Procurements</a></li>
	</ul>
</nav>
	
</nav>
<a name="page-content" class="visuallyhidden"></a>
    <section id="content">
        <section id="content-main">
        	


	      <!-- Example row of columns -->
	      <div class="row">
	        <div class="span6" id="machine-readable-categories">
	          <h2>Machine-readable data</h2>
	          <p>Data available in machine-readable formats e.g. XML, CSV/XLS, JSON, KML, SHP. </p>

	        </div>
	        <div class="span6"  id="documents-categories">
	          <h2>Documents and reports</h2>
	          <p>Data available in non-machine-readable formats e.g PDFs. </p>

	       </div>
	      </div>

	      <hr>

	      <div>
			<p><span class="label label-info">Terms of use:</span> [Placeholder] Data accessed through Data.MCC.gov do not, and should not, include controls over its end use. Once the data have been downloaded from this site, the government cannot vouch for their quality and timeliness. Furthermore, the MCC cannot vouch for any analyses conducted with data retrieved from Data.MCC.gov.</p>
			<p><span class="label label-warning">Disclaimer:</span> [Placeholder] Neither the Millennium Challenge Corporation nor the US Government makes any claims as to the completeness, accuracy or content 
				of any data contained in this application; makes any representation of any kind, including, but not limited to, warranty of the accuracy or 
				fitness for a particular use; nor are any such warranties to be implied or inferred with respect to the information or data furnished herein. 
				The data is subject to change as modifications and updates are complete. It is understood that the information contained in the dataset is 
				being used at one's own risk.</p>
	        <p>Millennium Challenge Corporation 2012</p>
	      </div>


        </section>
    </section>
    <footer id="footer">
	<nav id="social">
	    
	</nav>
	<header id="footer-top">
	
	</header>
	<section id="footer-main">
	    <nav id="utility" class="navbar">
		    <ul>
				<li><a href="http://www.mcc.gov/pages/contact">CONTACT MCC</a></li>
		        <li><a href="http://www.mcc.gov/pages/interceptor/subscribe">SUBSCRIBE</a></li>
		        <li><a href="http://transition.usaid.gov/oig/">INSPECTOR GENERAL</a></li>
		        <li><a href="http://www.mcc.gov/reportfraud">REPORT FRAUD</a></li>
		        <li><a href="http://www.mcc.gov/pages/no-fear-act">NO FEAR ACT</a></li>
		        <li><a href="http://www.mcc.gov/pages/foia">FOIA</a></li>
		        <li><a href="http://www.mcc.gov/pages/plug-ins">PLUG INS</a></li>
		        <li><a href="http://www.mcc.gov/pages/privacy">PRIVACY POLICY</a></li>
		        <li><a href="http://www.mcc.gov/pages/rss">RSS</a></li>
		        <li><a href="http://www.usa.gov">USA.GOV</a></li>
		        <li><a href="http://www.mcc.gov/open">OPEN GOV&#8217;T</a></li>
		    </ul>
	    </nav>    
	</section>
	<footer id="footer-btm">
		
	</footer>
</footer>
 </div>
	


 <script src="lib/jquery-1.7.2.min.js"></script>
 <script src="lib/underscore-min.js"></script>
 <script src="lib/backbone-min.js"></script>

 <script src="index.json"></script>

	<script id="documentCategoryTemplate" type="text/template">
	    <h3><%= name %></h3>
	    <table class="table table-striped"  >
	    	<thead>
				<tr>
					<th>Description</th>
					<th>Download</th>
				</tr>
			</thead>
			<tbody id="category-<%= id %>">
			</tbody>
	    </table>

	</script>

	<script id="machineReadableCategoryTemplate" type="text/template">
	    <h3><%= name %></h3>
	    <table class="table table-striped"  >
	    	<thead>
				<tr>
					<th>Dataset</th>
					<th>Description</th>
					<th>Download</th>
					<th>Metadata</th>
				</tr>
			</thead>
			<tbody id="category-<%= id %>">
			</tbody>
	    </table>

	</script>


	<script id="documentTemplate" type="text/template">
		<tr>
			<td><%= name %></td>
			<td><a href="<%= location %>" class="label label-important"><%= formats %></span></td>
		</tr>	
	</script>

	<script id="machineReadableTemplate" type="text/template">
		<tr>
			<td><%= name %></td>
			<td><%= description %></td>
			<td><a href="<%= location %>" class="label label-success"><%= formats %></a></td>
			<td><a href="/meta/" class="label">.html</a></td>
		</tr>	
	</script>	
	<script>
	(function ($) {

	Dataset = Backbone.Model.extend({
		name: "",
		description: "",
		group_id: 0,
		type: "",
		location:"",
		formats: "",
		id: 0
	});
	
	Group = Backbone.Model.extend({
		name: "",
		description: "",
		type: "",
		location: "",
		id: 0
	});
	
	Datasets = Backbone.Collection.extend({
		model:Dataset
	});

	Groups = Backbone.Collection.extend({
		model:Group
	});



	var MachineReadableCategoryView = Backbone.View.extend({
	    //tagName: "tr",
	    //className: "contact-container",
	    template: $("#machineReadableCategoryTemplate").html(),

	    render: function (el) {
	        var tmpl = _.template(this.template);

	        el.append(tmpl(this.model.toJSON()));
	        return this;
	    }
	});

	var DocumentCategoryView = Backbone.View.extend({
	    //tagName: "tr",
	    //className: "contact-container",
	    template: $("#documentCategoryTemplate").html(),

	    render: function (el) {
	        var tmpl = _.template(this.template);

	        el.append(tmpl(this.model.toJSON()));
	        return this;
	    }
	});

	var MachineReadableView = Backbone.View.extend({
		el:$("#category-"),
	    //tagName: "tr",
	    //className: "contact-container",
	    template: $("#machineReadableTemplate").html(),

	    render: function (el) {
	        var tmpl = _.template(this.template);
			
	        el.append(tmpl(this.model.toJSON()));
	        return this;
	    }
	});

	var DocumentView = Backbone.View.extend({
		el:$("#category-"),
	    //tagName: "tr",
	    //className: "contact-container",
	    template: $("#documentTemplate").html(),

	    render: function (el) {
	        var tmpl = _.template(this.template);

	        el.append(tmpl(this.model.toJSON()));
	        return this;
	    }
	});
	var GroupView = Backbone.View.extend({
	    tagName: "group",
	    className: "contact-container",
	    template: $("#datasetTemplate").html(),

	    render: function (el) {
	        var tmpl = _.template(this.template);

	        el.html(tmpl(this.model.toJSON()));
	        return this;
	    }
	});


	var CatalogView = Backbone.View.extend({
	    machinereadablecategory_el: $("#machine-readable-categories"),
	    documentscategory_el: $("#documents-categories"),

	    machinereadable_el: $("#machine-readable"),
	    documents_el: $("#documents"),

	    initialize: function () {
	        this.collection = new Datasets(index["datasets"]);
	        this.categories = new Groups(index["categories"]);
	
			this.machinereadablegroups = new Groups(this.categories.where({type:"machine-readable"}));
			this.documentsgroups = new Groups(this.categories.where({type:"documents"}));
	
			this.machinereadable = new Datasets(this.collection.where({type:"machine-readable"}));
			this.documents = new Datasets(this.collection.where({type:"documents"}));
	        this.render();
	    },

	    render: function () {
	        var that = this;

	        _.each(this.machinereadablegroups.models, function (item) {
	            that.renderCategory(item,"machine", this.machinereadable.models);
	        }, this);
	        _.each(this.documentsgroups.models, function (item) {
	            that.renderCategory(item,"document", this.documents.models);
	        }, this);

	    },

	    renderCategory: function (item, type, datasets) {
	        var that = this;
			if (type=="machine") {
		        var categoryView = new MachineReadableCategoryView({
		            model: item
		        });
		        this.machinereadablecategory_el.append(categoryView.render(this.machinereadablecategory_el).el);
		
				datasets=new Datasets(datasets).where({group_id:item.id});
		        _.each(datasets, function (item) {
		            that.renderDataset(item,"machine");
		        }, this);				
			}
			else {
		        var categoryView = new DocumentCategoryView({
		            model: item
		        });
		        this.documentscategory_el.append(categoryView.render(this.documentscategory_el).el);

				datasets=new Datasets(datasets).where({group_id:item.id});
		        _.each(datasets, function (item) {
		            that.renderDataset(item,"document");
		        }, this);				

			}
	    },

	    renderDataset: function (item, type) {
			if (type=="machine") {
		        var datasetView = new MachineReadableView({
		            model: item
		        });
		        $("#category-"+item.attributes["group_id"]).append(datasetView.render($("#category-"+item.attributes["group_id"])).el);
			}
			else {
		        var datasetView = new DocumentView({
		            model: item
		        });
		        $("#category-"+item.attributes["group_id"]).append(datasetView.render($("#category-"+item.attributes["group_id"])).el);
			}
	    }
	});	
	
	var datacatalog = new CatalogView();



	})(jQuery);
	</script>
	  
    
    
    <script type="text/javascript">
	jQuery(document).ready(function($) {$('a.fancyzoom').fancyZoom();}); 
	</script>
    
    
	
	<script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6030327-1']);
      _gaq.push(['_setVisitorCookieTimeout', 0]);
      _gaq.push(['_setSessionCookieTimeout', 0]);
      _gaq.push(['_setCampaignCookieTimeout', 0]);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
    
    <script>
(function(d){
var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
js = d.createElement('script'); js.id = id; js.async = true;
js.src = '//connect.facebook.net/en_US/all.js'
; d.getElementsByTagName('head')[0].appendChild(js);
 }(document));
</script><div id='fb-root'></div>
<script>
window.fbAsyncInit = function() {
FB.init(
{"status":true,"cookie":true,"oauth":true,"xfbml":true,"appid":"51888241909","channelURL":"http://www.facebook.com/MillenniumChallengeCorp"}
);};
</script><script type='text/javascript'>
(function() {
var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
po.src = 'https://apis.google.com/js/plusone.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
</script><script>
(function(){
var twsc = document.createElement('script');
twsc.type = 'text/javascript';
twsc.src = '//platform.twitter.com/widgets.js';
document.body.appendChild(twsc);
})();
</script>



</body>
</html>